//**********************
// Color Variables
//**********************
/*

   Color Variables Here

*/
//**********************
// Breakpoints
//**********************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
//**********************
// Fonts Variables
//**********************
/*

   Fonts Variables Here

*/